.features {
  background-color: #f4f4f4;
  padding-top: 5.43rem;
  padding-bottom: 4.31rem;

  &__title {
    font-family: $font-family--Montserrat;
    font-size: 3rem;
    font-weight: 700;
    color: $violet-light;
    margin-bottom: 3.875rem;

    &--first {
      @media screen and (min-width: 767px) {
        display: none;
      }
    }

    &--second {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

  }

  &__wrapper {

    @media screen and (min-width: 767px) {
      display:flex;
      justify-content: space-between;
    }
  }

  &__image {
    display: none;
    width: 50%;
    position: absolute;
    left: 5%;
    max-width: initial;
  }

  &__image-wrapper {
    top: 0;
    position: absolute;
    width: 100%;
  }
}
