.header {
  position: relative;
  padding-top: 1.81rem;
  padding-bottom: 1.81rem;
  padding-left: 8rem;
  padding-right: 7.5rem;

  &__navigation {
    display: flex;
    justify-content: space-between;
  }

  &__navigation-container{
    display: flex;
    justify-content: space-between;
  }

  &__button {
    font-family: $font-family--Montserrat;
    font-size: 1.06rem;
    font-weight: 700;
    color: $white;
    background-color: $violet-light;
    padding: 1rem 2.3rem;
    border-radius: 3rem;
  }

  &__sandwich {
    display: block;
    background-color: transparent;

    @media (min-width: 960px) {
      display: none;
    }
  }
}
