.main-navigation {
  display: none;

  @media (min-width: 960px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    padding-right: 3rem;
  }

  &__link {
    font-family: $font-family--Montserrat;
    font-size: 1rem;
    font-weight: 700;
    color: #635c73;
  }
}
