// colors
$violet-light: #8d81ac;
$violet-dark: #635c73;
$white: #ffffff;

//fonts
$font-family--Montserrat: 'Montserrat', Arial, sans-serif;
$font-family--Source: 'Source Sans Pro', Arial, sans-serif;
